{{ with $.Site.Data.release.stable }}
<h5>Syncthing <b>v{{.}}</b></h5>

<dl style="column-count: 2">
    <div class="dl-item">
        <dt>Linux</dt>
        <dl> <b><a href="https://github.com/syncthing/syncthing/releases/download/v{{.}}/syncthing-linux-amd64-v{{.}}.tar.gz">Intel 64-bit</a></b>
            &sdot; <a href="https://github.com/syncthing/syncthing/releases/download/v{{.}}/syncthing-linux-386-v{{.}}.tar.gz">Intel 32-bit</a>
            &sdot; <a href="https://github.com/syncthing/syncthing/releases/download/v{{.}}/syncthing-linux-arm-v{{.}}.tar.gz">ARM</a>
            &sdot; <a href="https://github.com/syncthing/syncthing/releases/download/v{{.}}/syncthing-linux-arm64-v{{.}}.tar.gz">ARM64</a>
            &sdot; <a href="https://github.com/syncthing/syncthing/releases/download/v{{.}}/syncthing-linux-mips-v{{.}}.tar.gz">MIPS</a>
            &sdot; <a href="https://github.com/syncthing/syncthing/releases/download/v{{.}}/syncthing-linux-mips64-v{{.}}.tar.gz">MIPS64</a>
            &sdot; <a href="https://github.com/syncthing/syncthing/releases/download/v{{.}}/syncthing-linux-mipsle-v{{.}}.tar.gz">MIPS-LE</a>
            &sdot; <a href="https://github.com/syncthing/syncthing/releases/download/v{{.}}/syncthing-linux-mips64le-v{{.}}.tar.gz">MIPS64-LE</a>
            &sdot; <a href="https://github.com/syncthing/syncthing/releases/download/v{{.}}/syncthing-linux-ppc64-v{{.}}.tar.gz">PPC64</a>
            &sdot; <a href="https://github.com/syncthing/syncthing/releases/download/v{{.}}/syncthing-linux-ppc64le-v{{.}}.tar.gz">PPC64-LE</a>
            &sdot; <a href="https://github.com/syncthing/syncthing/releases/download/v{{.}}/syncthing-linux-s390x-v{{.}}.tar.gz">S/390x</a>
        </dl>
    </div>
    <div class="dl-item">
        <dt>Windows</dt>
        <dl><b><a href="https://github.com/syncthing/syncthing/releases/download/v{{.}}/syncthing-windows-amd64-v{{.}}.zip">Intel 64-bit</a></b>
            &sdot; <a href="https://github.com/syncthing/syncthing/releases/download/v{{.}}/syncthing-windows-386-v{{.}}.zip">Intel 32-bit</a>
        </dl>
    </div>
    <div class="dl-item">
        <dt>macOS</dt>
        <dl><b><a href="https://github.com/syncthing/syncthing/releases/download/v{{.}}/syncthing-macos-amd64-v{{.}}.tar.gz">Intel 64-bit</a></b>
            &sdot; <a href="https://github.com/syncthing/syncthing/releases/download/v{{.}}/syncthing-macos-386-v{{.}}.tar.gz">Intel 32-bit</a>
        </dl>
    </div>
    <div class="dl-item">
        <dt>FreeBSD</dt>
        <dl><b><a href="https://github.com/syncthing/syncthing/releases/download/v{{.}}/syncthing-freebsd-amd64-v{{.}}.tar.gz">Intel 64-bit</a></b>
            &sdot; <a href="https://github.com/syncthing/syncthing/releases/download/v{{.}}/syncthing-freebsd-386-v{{.}}.tar.gz">Intel 32-bit</a>
            &sdot; <a href="https://github.com/syncthing/syncthing/releases/download/v{{.}}/syncthing-freebsd-arm-v{{.}}.tar.gz">ARM</a>
        </dl>
    </div>
    <div class="dl-item">
        <dt>OpenBSD</dt>
        <dl><b><a href="https://github.com/syncthing/syncthing/releases/download/v{{.}}/syncthing-openbsd-amd64-v{{.}}.tar.gz">Intel 64-bit</a></b>
            &sdot; <a href="https://github.com/syncthing/syncthing/releases/download/v{{.}}/syncthing-openbsd-386-v{{.}}.tar.gz">Intel 32-bit</a>
            &sdot; <a href="https://github.com/syncthing/syncthing/releases/download/v{{.}}/syncthing-openbsd-arm-v{{.}}.tar.gz">ARM</a>
            &sdot; <a href="https://github.com/syncthing/syncthing/releases/download/v{{.}}/syncthing-openbsd-arm64-v{{.}}.tar.gz">ARM64</a>
        </dl>
    </div>
    <div class="dl-item">
        <dt>NetBSD</dt>
        <dl><b><a href="https://github.com/syncthing/syncthing/releases/download/v{{.}}/syncthing-netbsd-amd64-v{{.}}.tar.gz">Intel 64-bit</a></b>
            &sdot; <a href="https://github.com/syncthing/syncthing/releases/download/v{{.}}/syncthing-netbsd-386-v{{.}}.tar.gz">Intel 32-bit</a>
        </dl>
    </div>
    <div class="dl-item">
        <dt>Dragonfly BSD</dt>
        <dl><b><a href="https://github.com/syncthing/syncthing/releases/download/v{{.}}/syncthing-dragonfly-amd64-v{{.}}.tar.gz">Intel 64-bit</a></b>
        </dl>
    </div>
    <div class="dl-item">
        <dt>Illumos</dt>
        <dl><b><a href="https://github.com/syncthing/syncthing/releases/download/v{{.}}/syncthing-illumos-amd64-v{{.}}.tar.gz">Intel 64-bit</a></b>
        </dl>
    </div>
    <div class="dl-item">
        <dt>Solaris</dt>
        <dl><b><a href="https://github.com/syncthing/syncthing/releases/download/v{{.}}/syncthing-solaris-amd64-v{{.}}.tar.gz">Intel 64-bit</a></b>
        </dl>
    </div>
</dl>
{{ end }}