{{ with $.Site.Data.release }}
<h5>Syncthing <b>{{.version}}</b></h5>

<div style="column-count: 2" class="my-2">
    {{ range .oses }}
    <dl class="dl-item">
        <dt>{{.os}}</dt>
        <dd>{{ range $i, $a := .assets }}
            {{ if gt $i 0 }} &sdot; {{ end }}
            <!-- The weird replace thing is to make spaces and dashes non-breaking so we avoid misleading-looking architecture names in the list -->
            <a href="{{$a.url}}" class="{{if .recommended}}download-recommended{{end}}">{{replace (replace $a.arch " " "&nbsp;") "-" "&#8209;" | safe.HTML}}</a>
        {{ end }}</dd>
    </dl>
    {{ end }}
    <dl class="dl-item">
        <dt>Source Code</dt>
        <dd><a href="https://github.com/syncthing/syncthing/releases/download/v{{.}}/syncthing-source-v{{.}}.tar.gz">Source tar.gz</a>
            &sdot; <a href="https://github.com/syncthing/syncthing/releases/download/v{{.}}/syncthing-source-v{{.}}.tar.gz.asc">GPG signature</a>
        </dd>
    </dl>
</div>
{{ else }}
    <p>Download the <a href="https://github.com/syncthing/syncthing/releases/latest">latest release</a> from GitHub.</p>
{{ end }}
