<div class="col-md-6 offset-md-3 text-center">
    <hr class="my-4">
    <h5 class="text-center">Silver Sponsors</h5>
</div>
<div class="d-flex flex-column flex-md-row justify-content-center align-items-center">
    <div class="col-md-6 m-2">
        <a href="https://www.kastelo.net/"><img class="img logo" id="kastelo-logo" alt="Kastelo Inc."></a>
    </div>
    <div class="col-md-6 m-2">
        <a href="http://www.reefsolutions.com/"><img class="img logo" id="reefsolutions-logo" alt="Reef Solutions"></a>
    </div>
</div>