html, body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-style: normal;
    font-weight: 400;
    font-size: 13pt;
}

h1, h2, h3, h4, h5 {
    font-family: "Ideal Sans SSm A", "Ideal Sans SSm B", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-style: normal;
    font-weight: 300;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

h3.card-header {
    margin: 0;
}

#logo-img {
    height: 32px;
    margin-bottom: 4px;
}

#footer-logo {
    height: 50px;
}

.nav-link.active {
    font-weight: 600;
}

.light {
    font-weight: 200;
}

pre {
    font-size: 100%;
}
code {
    font-size: 80%
}

figure {
    max-width: 100%;
}
figcaption {
    text-align: center;
}

.my-xl {
    margin-top: 1em;
    margin-bottom: 1em;
}

blockquote, .metadata {
    border-left: 6px solid #eee;
    padding-left: 12px;
}