html, body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-style: normal;
    font-weight: 400;
    font-size: 13pt;
}

h1, h2, h3, h4, h5 {
    font-family: "Ideal Sans SSm A", "Ideal Sans SSm B", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-style: normal;
    font-weight: 300;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

h3.card-header {
    margin: 0;
}

#logo-img {
    height: 48px;
    margin-bottom: 8px;
}

#footer-logo {
    height: 50px;
}

.nav-link.active {
    font-weight: 600;
}

.light {
    font-weight: 200;
}

pre {
    font-size: 80%;
}
code {
    font-size: 80%
}

figure {
    max-width: 100%;
}
figcaption {
    text-align: center;
}

.my-xl {
    margin-top: 1em;
    margin-bottom: 1em;
}

blockquote, .metadata {
    border-left: 6px solid #eee;
    padding-left: 12px;
}

img.logo {
    max-width: 250px;
    max-height: 100px;
}

.dl-item {
    page-break-inside: avoid;
    break-inside: avoid;
    -webkit-column-break-inside: avoid;
}

.jumbotron p {
    font-size: 120%;
}
.jumbotron {
    background-size: cover;
}
.text-white a {
    color: #2bf;
}
