<a class="nav-item nav-link" href="https://docs.syncthing.net/"> <i class="fa fa-book"></i>&ensp;Docs</a>
<a class="nav-item nav-link" href="https://forum.syncthing.net/"> <i class="fa fa-comments"></i>&ensp;Forum</a>
<a class="nav-item nav-link" href="https://github.com/syncthing/"> <i class="fa fa-code-branch"></i>&ensp;Code</a>

<a class="nav-item nav-link {{ if hasPrefix .RelPermalink (relref . "donations" | string) }}active{{ end }}"
        href="{{ relref . "donations" }}"><i class="fa fa-heart text-danger"></i>&ensp;Donations</a>