<a class="nav-item nav-link {{ if hasPrefix .RelPermalink (relref . "donations" | string) }}active{{ end }}"
    href="{{ relref . "donations" }}"><i class="fa fa-heart text-danger"></i>&ensp;Donations</a>
{{ $numGrants := len (where .Site.RegularPages "Section" "==" "grants") }}
{{ if gt $numGrants 0 }}
<a class="nav-item nav-link {{ if hasPrefix .RelPermalink (relref . "grants" | string) }}active{{ end }}"
    href="{{ relref . "grants" }}"><i class="fa fa-hand-holding-usd"></i>&ensp;Grants</a>
{{ end }}